// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Global CSS
html {
  font-family: Verdana, Geneva, sans-serif !important;
}

.buceesRed {
  background-color: #D41142;
}

.buceesYellowButton {
  margin: 0;
  color: #4d4d4d;
  font-weight: 500;
  background-color: #fff017;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-transform: uppercase;
}

.buceesYellowButton.activated {
  color: #ffffff;;
  background-color: #D41142 !important;
}

.buceesBackArrowIcon {
  color: #ffffff;
  font-size: 2rem;
}

.buceesSearchIcon {
  color: #ffffff;
  font-size: 2rem;
}

.profileAddImg {
  position: relative;
  left: 50%;
  margin: 4rem 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 5rem;
  background: rgba(0,0,0,0.03);
  padding: 0 25px;
  border-radius: 50%;
  font-weight: bolder;
  color: rgba(0,0,0,0.6);
}
